* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bs-primary: #1E1E1E;
  --bs-white: #ffffff;
}


#root {
  display: flex;
  height: 100%;
  width: 100%;
}


#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}